<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style='background: black; color: white; text-align: center; font-family: sans-serif'>
    <p>
      <span style='font-size: 500%'><%= @count %></span><br/>people have pledged to Vote Remain
    </p>
  </body>
</html>
