<h1>Sign the Pledge</h1>

<div class='well'>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod bibendum lobortis. Proin pellentesque velit quis dolor efficitur vehicula in non libero.
  </p>
  <p>
    Mauris id laoreet augue. Etiam magna sapien, viverra ullamcorper convallis eget, suscipit id lectus. Etiam mattis sodales sapien, at rutrum sem rhoncus vel.
  </p>
  <p>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent ullamcorper non ante ac convallis. Aliquam commodo ultricies efficitur.
  </p>
  <p>
    Quisque ut dolor at neque pretium ultrices a eu erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas id lacus ante.
  </p>
  <p>
    Maecenas hendrerit convallis consectetur. Mauris volutpat finibus odio, eu bibendum augue fermentum et. Mauris quis neque ullamcorper nunc molestie condimentum.
  </p>
</div>

<p>
  Sign the pledge using a social media account.
</p>
<p>
  Don't worry, we only store your publicly accessible information, and won't
  use it for any purpose other than showing signatories.
</p>

<a href="/auth/twitter" class='btn btn-primary btn-lg'>
  <i class='fa fa-twitter'></i> Sign with Twitter
</a>
  
<hr/>

<div class='well'>
  <iframe src='/signatories' style='width:100%; border:0px; margin: 0px; height: 500px'>
  </iframe>
</div>