<div class='row well'>
  <p class='lead'>
    We the undersigned, agree that the UK should stay in the European Union,
    and pledge to vote <strong>remain</strong> in the referendum on June 23, 2016.
  </p>
  <p>  
    Our future in the network age is about collaboration, especially as 
    <a href='https://somethingnew.org.uk/news/2016/02/24/the-future-of-nations.html' target='_new'>national borders
    become less relevant in our globalised world</a>. We must work together to solve
    our problems and build a better future on a global scale. Our future, therefore, can be
    that of a linked global society that can learn to co-operate and co-exist, and move beyond
    the tribalism of our past.
  </p>
  <p>  
    No institution is perfect, but it is better to work from a position of leadership
    to make the EU more democratic and transparent, than abandon almost 60 years
    of peace and progress across the continent.
  </p>
</div>

<div class='row' style='margin-bottom: 20px'>
  <div class='col-xs-12' style='text-align: center'>
    <h2>Take the pledge</h2>
  </div>
</div>

<div class='row' style='margin-bottom: 20px'>
  <div class='col-sm-6' style='text-align: center'>
    <a href="/auth/twitter" class='btn btn-primary btn-lg'>
      <i class='fa fa-twitter'></i> Sign with Twitter
    </a>
  </div>
  <div class='col-sm-6' style='text-align: center'>      
    <a href="/auth/facebook" class='btn btn-primary btn-lg'>
      <i class='fa fa-facebook'></i> Sign with Facebook
    </a>
  </div>
</div>

<div class='row well'>
  <iframe src='/signatories' style='width:100%; border:0px; margin: 0px; height: 500px'>
  </iframe>
</div>