<h1>Sign the Pledge</h1>

<div class='well'>
  <p>
    We the undersigned, agree that the UK should remain in the European Union,
    and pledge to vote <strong>Remain</strong> in the referendum on June 23, 2016.
  </p>
  <p>  
    Our future in the network age is about collaboration, and national borders are
    becoming less relevant in our globalised world. We must work together to solve
    our problems and build a better future at a global scale. Our future is as a 
    linked global society that can learn to co-operate and co-exist, and let go
    of the tribalism of our past.
  </p>
  <p>  
    No institution is perfect, but it is better to work to make the EU more
    democratic and transparent, than abandon almost 60 years of peace and 
    collaboration across the continent.
  </p>
</div>

<p>
  Sign the pledge using a social media account.
</p>
<p>
  Don't worry, we only store your publicly accessible information, and won't
  use it for any purpose other than showing signatories.
</p>

<a href="/auth/twitter" class='btn btn-primary btn-lg'>
  <i class='fa fa-twitter'></i> Sign with Twitter
</a>
  
<hr/>

<div class='well'>
  <iframe src='/signatories' style='width:100%; border:0px; margin: 0px; height: 500px'>
  </iframe>
</div>