<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Something New: EU Referendum</title>
    <meta name="author" content="Something New">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="<%=BASE_URL%>">
    <link href="https://somethingnew.org.uk/images/favicon64.png" rel="icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <style type="text/css">
      body > footer a, body > footer a:hover {
      	color: #0B9490;
      	text-decoration: none;
      }
    </style>
    
    <meta property="og:type" content="website">     
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@havesomenew">
    <meta name="twitter:creator" content="@havesomenew">
    <meta property="og:title" content="Something New: Vote Remain">
    <meta name="twitter:title" content="Something New: Vote Remain">
    <meta property="og:description" content="Take the vote remain pledge, for a more collaborative future in the network age beyond borders and nations.">
    <meta name="twitter:description" content="Take the vote remain pledge, for a more collaborative future in the network age beyond borders and nations.">
    <meta property="og:image" content="https://somethingnew.org.uk/images/card.png">
    <meta name="twitter:image" content="https://somethingnew.org.uk/images/logo.png">     
    <meta property="og:url" content="https://voteremain.somethingnew.org.uk/">
    <meta name="twitter:url" content="https://voteremain:somethingnew.org.uk/">
    <meta property="og:site_name" content="Something New: Vote Remain">
    <meta property="og:locale" content="en_gb">
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>">
    
  </head>
  <body>
    <div class="row-fluid" style='
      background-image: url(https://c2.staticflickr.com/4/3373/3485479724_533c83c72d_b.jpg);
      background-position: center;
      background-size: cover;
      color: white;
      text-align: center;
      padding: 50px;
      margin-bottom: 20px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    '>
      <h1 style='font-size: 5rem;'>Vote remain, for a collaborative future</h1>
    </div>
    <div class="container">
      <div class="row-fluid">
        <div class="col-sm-9">
          <%= yield %>
        </div>
        <div class="col-sm-3">
          <iframe src='/count' style='width: 100%; height: 150px; border: 0px; border-radius: 5px'></iframe>
          <div class='alert alert-info'>
            <h4><i class='fa fa-info-circle'></i> <strong>Privacy info</strong></h4>
            <p>
              When you pledge, we only store and display your:
            </p>
            <ul>
              <li>name</li>
              <li>profile picture</li>
              <li>profile link</li>
            </ul>
            <p>
              We won't use any of it for any purpose other than showing your signature.
            </p>
          </div>
          <div>
            <p style='text-align: center'>
              Created by
              <br/>
              <a href='https://somethingnew.org.uk' target="_new">
                <img src='https://somethingnew.org.uk/images/logo.png' style="width:50%" alt='Something New'/>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer style='
    	margin-top: 25px;
    	background: black;
    	padding: 50px;
    	color: white;
    	font-size: 0.75em;
    '>
      <div class='row'>
        <div class='col-xs-6'>
          <p>
            <a href='https://twitter.com/havesomenew'><i class='fa fa-twitter-square fa-3x'></i></a>
            <a href='https://facebook.com/SomethingNewUK'><i class='fa fa-facebook-square fa-3x'></i></a>
            <a href='mailto:info@somethingnew.org.uk'><i class='fa fa-envelope-square fa-3x'></i></a>
            <a href='https://www.youtube.com/channel/UCItNJ1SzUanPQRfl_Vv3N0Q'><i class='fa fa-youtube-square fa-3x'></i></a>
            <a href='https://github.com/SomethingNewUK'><i class='fa fa-github-square fa-3x'></i></a>
          </p>
          <p>
            Promoted by:
          </p>
          <address>      
            Something New<br/>
            14 Greenfinch Way<br/>
            Horsham<br/>
            West Sussex<br/>
            RH12 5HB<br/>
          </address>
        </div>
        <div class='col-xs-6'>
          <p>
            Something New is a UK political party 
            <a href='http://search.electoralcommission.org.uk/English/Registrations/PP2486'>registered with the Electoral Commission</a>.
          </p>
          <p>
            Header image by <a href="http://www.opte.org/maps/">OPTE</a> 
            used under <a href="https://creativecommons.org/licenses/by-nc-sa/1.0/">CC BY-NC-SA 1.0</a>.
          </p>
          <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
            <a rel="license"
               href="http://creativecommons.org/publicdomain/zero/1.0/">
              <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
            </a>
            To the extent possible under law,
            <a rel="dct:publisher"
               href="http://somethingnew.org.uk">
              <span property="dct:title">Something New</span>
            </a>
            has waived all copyright and related or neighboring rights to
            this work.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>