<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Something New: EU Referendum</title>
    <meta name="author" content="Cleanweb Manifesto">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="<%=BASE_URL%>">
    <link href="https://somethingnew.org.uk/images/favicon64.png" rel="icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Sign the pledge</h1>
      <div class="row-fluid">
        <div class="col-sm-9">
          <%= yield %>
        </div>
        <div class="col-sm-3">
          <iframe src='/count' style='width: 200px; height: 150px; border: 0px; border-radius: 5px'></iframe>
          <div class='alert alert-info'>
            <h4><i class='fa fa-info-circle'></i> <strong>Privacy info</strong></h4>
            <p>
              When you pledge, we only store and display your:
            </p>
            <ul>
              <li>name</li>
              <li>profile picture</li>
              <li>profile link</li>
            </ul>
            <p>
              We won't use any of it for any purpose other than showing your signature.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>