<h1>Pledge successful!</h1>

<hr/>

<p>
  Thank you! You've joined <%= @count-1 %> others who have pledged to Vote Remain on June 23rd.
</p>

<p>
  Now you're on board, why not tell the world?
</p>

<p style='text-align: center'>
  <a href="https://twitter.com/intent/tweet?screen_name=Floppy" class="twitter-mention-button" data-related="Floppy">Tweet to @Floppy</a>
  <a href="https://twitter.com/intent/tweet?hashtags=EURef,VoteIn&amp;text=I pledge my vote to remain in the EU, for a better future&amp;url=<%=BASE_URL%>&amp;via=havesomenew" class="btn btn-primary btn-large" id="b">Spread the word with a Tweet!</a>
</p>

<h2>About Something New</h2>

<p>
  Want to know more about Something New? We're a new kind of political party, dedicated to open source democracy and building a brighter future. If you'd like to know more about us, visit <a href='https://somethingnew.org.uk/'>our website</a>.
</p>