<h2>Thank you!</h2>

<p>
  Thank you! You've joined <%= @count-1 %> others who believe in a collaborative
  future and have pledged to vote remain on June 23rd.
</p>

<p>
  Now you're on board, why not spread the word on your social networks?
</p>

<p style='text-align: center'>
  <a href="https://twitter.com/intent/tweet?&amp;text=I pledge to %23VoteRemain in the %23EUref for a collaborative networked future. Join me at&amp;url=<%=BASE_URL%>&amp;via=havesomenew" class="btn btn-primary btn-large" id="b">
    <i class='fa fa-twitter'></i>
    Tweet your pledge
  </a>
</p>

<hr/> 

<h2>What next?</h2>

<p>
  Want to know more about Something New? We're a new kind of political party, dedicated to opening up democracy, and building a brighter future in the network age. If you'd like to know more about us, please visit <a href='https://somethingnew.org.uk/'>our website</a>.
</p>